Repository Pujan-sarkar/FARMLOC, pull requests merged in 2025-08, with the labels that each got.

#33 Added Code of Conduct file
  CODE_OF_CONDUCT.md
Labels: documentation, Gssoc'25, Level 1

#49 Feature/footer enhanceement
  apps/frontend/src/components/Footer.jsx
  apps/frontend/src/index.css
Labels: enhancement, Frontend, Gssoc'25, Level 1

#53 Added hover effect in reviews section
  apps/frontend/src/index.css
Labels: Frontend, Gssoc'25, Level 1

#54 Marquee Section added
  apps/frontend/src/App.jsx
  apps/frontend/src/components/AnnouncmentBar.jsx
  apps/frontend/src/index.css
Labels: Frontend, Gssoc'25, Level 2
